<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RozetkaSuite" parallel="tests"  thread-count="10" >
    <test name="RozetkaTests">
        <classes>
            <class name="com.github.frunoman.spring_boot_tests.tests.LoginTest"/>
        </classes>
    </test>
    <test name="PapaTest">
        <classes>
            <class name="com.github.frunoman.spring_boot_tests.tests.LoginTest"/>
        </classes>
    </test>
    <test name="MamaTest">
        <classes>
            <class name="com.github.frunoman.spring_boot_tests.tests.LoginTest"/>
        </classes>
    </test>
</suite>